
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/* Allmän style */
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Style för index */

#main_page_wrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto auto auto auto;
    grid-template-areas:
    "he"
    "sp"
    "a1"
    "a2"
    "fo";
}

#main_page_wrapper .nav_slider_menu li:nth-child(1){
    border-bottom: rgb(241, 246, 249) 4px solid;
    border-radius: 2px;
}

header{
    grid-area: he;
    background: rgb(20, 39, 78);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

header img{
    height: 50px;
    width: auto;
    margin-left: 20px;
}

header h1{
    color: rgb(241, 246, 249);
    font-size: 30px;
    margin-left: 20px;
}

nav{
    display: flex;
    font-size: 18px;
}

.nav_button{
    border: rgb(241, 246, 249) 2px solid;
    border-radius: 5px 0px 0px 5px;
    top: 7.5px;
    right: 0px;
    height: 60px;
    width: 60px;
    background: rgb(57, 72, 103);
    position: fixed;
    z-index: 1;
}

.burger_menu{
    height: 3px;
    width: 35px;
    margin: 12px 0px 0px 12px;
    border-radius: 2px;
    background: rgb(241, 246, 249);
}

.nav_button:hover{
    cursor: pointer;
}

.nav_slider_menu{
    display: flex;
    border: rgb(241, 246, 249) 2px solid;
    border-radius: 5px 0px 0px 5px;
    top: 70px;
    right: -129px;
    height: 300px;
    width: 125px;
    background: rgb(57, 72, 103);
    position: fixed;
    transition: 0.2s;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: rgb(241, 246, 249);
    z-index: 2;
}

nav a{
    text-decoration: none;
    color: rgb(241, 246, 249);
}

nav a:visited{
    color: rgb(241, 246, 249)
}

.nav_slider_menu_active{
    transform: translateX(-125px);
}

.sub_service_menu{
    display: flex;
    border: rgb(241, 246, 249) 2px solid;
    border-radius: 5px 0px 0px 5px;
    top: 117.5px;
    right: -126px;
    height: 140px;
    width: 90px;
    background: rgb(57, 72, 103);
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.2s;
    list-style: none;
    z-index: 1;
}

.sub_service_menu li a{
    text-decoration: none;
}

.sub_service_toggle{
    cursor: pointer;
}

.sub_service_menu_active{
    transform: translateX(-250px);
}

#main_section_picture{
    grid-area: sp;
    background: rgb(241, 246, 249);
}

#main_picture_enclosure{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_picture_enclosure img{
    height: auto;
    width: 100%;
}

#main_picture_enclosure h2{
    position: absolute;
    color: rgb(241, 246, 249);
    text-shadow: 2px 2px 8px rgb(57, 72, 103);
    font-size: 40px;
    vertical-align: middle;
}

#main_section_info{
    grid-area: a1;
    background: rgb(241, 246, 249);
    display: flex;
    align-items: center;
    justify-items: center;
}

#main_section_info a{
    color: rgb(20, 39, 78);
}

#main_article_info{
    margin: 40px;
    padding: 10px;
    color: rgb(57, 72, 103);
    background: rgb(241, 246, 249);
}

#main_section_serv{
    grid-area: a2;
    background: rgb(241, 246, 249);
    display: flex;
    align-items: center;
    justify-items: center;
}

#main_section_serv a{
    color: rgb(20, 39, 78);
}

#main_article_serv{
    margin: 40px;
    padding: 10px;
    color: rgb(57, 72, 103);
    background: rgb(241, 246, 249);
}

footer{
    grid-area: fo;
    background: rgb(57, 72, 103);
}

#footer_head_text{
    display: flex;
    width: 100%;
    height: 50px;
    background: rgb(20, 39, 78);
    font-size: 25px;
    color: rgb(241, 246, 249);
    align-items: center;
    justify-content: center;
}

#footer_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

#footer_wrapper h4{
    font-size: 20px;
    padding: 5px 5px 5px 0px;
}

#footer_info_section{
    padding: 20px;
    color: rgb(241, 246, 249);
}

#footer_nav{
    padding: 20px;
    padding-left: 40px;
    color: rgb(241, 246, 249);
}

#footer_nav li{
    padding: 3px;
}

#footer_nav a{
    text-decoration: none;
    color: rgb(241, 246, 249);
}

#footer_contact{
    padding: 20px;
    padding-left: 40px;
    color: rgb(241, 246, 249);
}

#footer_contact li{
    margin: 5px;
}

#footer_contact a{
    color: rgb(241, 246, 249);
}


/* Style för service_pri */

#service_private_wrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto auto auto;
    grid-template-areas:
    "he"
    "ip"
    "si"
    "fo";
}

#service_private_wrapper .nav_slider_menu li:nth-child(2){
    border-bottom: rgb(241, 246, 249) 4px solid;
    border-radius: 2px;
}

#service_page_pri .sub_service_menu li:nth-child(1){
    border-bottom: rgb(241, 246, 249) 4px solid;
    border-radius: 2px;
}

#service_private_info{
    grid-area: ip;
    background: rgb(241, 246, 249);
}

#service_private_info article{
    margin: 65px 20px 50px 20px;
    padding: 20px;
    height: auto;
    border-radius: 5px;
    background: rgb(57, 72, 103);
    border-radius: 5px;
    color: rgb(241, 246, 249);
}

#service_private_info a{
    color: rgb(241, 246, 249);
}

#dir_to_com{
    position: relative;
    bottom: -10px;
    left: 20px;
}

#service_main_private{
    grid-area: si;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background: rgb(241, 246, 249);
}

#service_main_private h2{
    margin-top: 20px;
    color: rgb(241, 246, 249);
}

#private_side_info{
    background: rgb(57, 72, 103);
    border-radius: 5px;
    height: auto;
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(241, 246, 249);
}

#private_side_info img{
    height: 250px;
    width: auto;
    border: rgb(241, 246, 249) 3px solid;
    border-radius: 2px;
}

#private_convince_section{
    background: rgb(57, 72, 103);
    border-radius: 5px;
    height: auto;
    width: auto;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(241, 246, 249);
}

#inner_private_quote{
    background: rgb(241, 246, 249);
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    color: rgb(57, 72, 103);
}

#inner_private_quote p{
    margin: 10px;
}


/* Style för service_com */

#service_company_wrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto auto auto auto;
    grid-template-areas:
    "he"
    "ip"
    "sc"
    "si"
    "fo";
}

#service_company_wrapper .nav_slider_menu li:nth-child(2){
    border-bottom: rgb(241, 246, 249) 4px solid;
    border-radius: 2px;
}

#service_page_com .sub_service_menu li:nth-child(2){
    border-bottom: rgb(241, 246, 249) 4px solid;
    border-radius: 2px;
}

#service_main_company{
    grid-area: si;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background: rgb(241, 246, 249);
}

#service_main_company h2{
    margin-top: 20px;
    color: rgb(241, 246, 249);
}

#company_side_info{
    background: rgb(57, 72, 103);
    border-radius: 5px;
    height: auto;
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(241, 246, 249);
}

#company_side_info article{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#company_side_info img{
    height: 250px;
    width: auto;
    border: rgb(241, 246, 249) 3px solid;
    border-radius: 2px;
}

#service_company_info{
    grid-area: ip;
    background: rgb(241, 246, 249);
}

#service_company_info article{
    margin: 65px 20px 50px 20px;
    padding: 20px;
    height: auto;
    border-radius: 5px;
    background: rgb(57, 72, 103);
    border-radius: 5px;
    color: rgb(241, 246, 249);
}

#service_company_info a{
    color: rgb(241, 246, 249);
}

#dir_to_pri{
    position: relative;
    bottom: -10px;
    left: 10px;
}

#company_convince_section{
    background: rgb(241, 246, 249);
    border-radius: 5px;
    height: auto;
    width: auto;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(57, 72, 103);
}

#company_convince_section article{
    margin: 15px;
}

#company_convince_section h2{
    color: rgb(57, 72, 103);
}

#company_convince_section a{
    color: rgb(57, 72, 103);
}

#company_coop_section{
    grid-area: sc;
    background: rgb(241, 246, 249);
    color: rgb(57, 72, 103);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#company_coop_section h2{
    font-size: 30px;
    margin: 10px;
}

#company_coop_list{
    background: rgb(57, 72, 103);
    border-radius: 5px;
    height: auto;
    width: auto;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    color: rgb(241, 246, 249);
}

#company_coop_list p{
    margin: 10px;
    font-size: 20px;
}


/* Style för contact */

#contact_page_wrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto auto auto auto;
    grid-template-areas:
    "he"
    "ci"
    "cp"
    "cc"
    "fo";
}

#contact_page_wrapper .nav_slider_menu li:nth-child(3){
    border-bottom: rgb(241, 246, 249) 4px solid;
    border-radius: 2px;
}

#contact_info{
    grid-area: ci;
    background: rgb(241, 246, 249);
}

#contact_info article{
    margin: 30px;
    color: rgb(20, 39, 78);
}

#contact_info li{
    margin: 10px;
}

#contact_info a{
    color: rgb(57, 72, 103);
}

#private_contact_info{
    grid-area: cp;
    background: rgb(241, 246, 249);
}

#company_contact_info{
    grid-area: cc;
    background: rgb(241, 246, 249);
}

.contact_article{
    height: auto;
    margin: 40px;
    padding: 10px;
    color: rgb(20, 39, 78);
}

/* Style för about */

#about_page_wrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto auto;
    grid-template-areas: 
    "he"
    "as"
    "fo";
}

#about_page_wrapper .nav_slider_menu li:nth-child(4){
    border-bottom: rgb(241, 246, 249) 4px solid;
    border-radius: 2px;
}

#about_section{
    grid-area: as;
    background: rgb(241, 246, 249);
    color: rgb(20, 39, 78);
}

#about_section article{
    margin: 40px;
}

#about_section ol{
    margin: 40px 40px 40px 80px;
}

#about_section ol li{
    margin: 15px;
    font-size: 18px;
    color: rgb(20, 39, 78);
}

#about_section ol li a{
    font-size: 18px;
    color: rgb(20, 39, 78);
}

#about_section h2{
    margin: 70px 40px 40px 40px;
    text-align: center;
    font-size: 30px;
    background: rgb(57, 72, 103);
    border-radius: 4px;
    color: rgb(241, 246, 249);
}

#about_section h3{
    margin-bottom: 10px;
    text-align: center;
    background: rgb(57, 72, 103);
    border-radius: 4px;
    color: rgb(241, 246, 249);
}

#about_section h4{
    margin-top: 20px;
}

.about_page_img{
    border: rgb(57, 72, 103) 4px solid;
    border-radius: 2px;
    height: auto;
    width: 90%;
}

/* Style för desktop-läge */

@media screen and (min-width: 820px) {


    /* Style för index */

    #main_page_wrapper{
        grid-template-columns: 10% 1fr 1fr 10%;
        grid-template-rows: 100px 60px auto auto auto;
        grid-template-areas:
        "he he he he"
        "na na na na"
        "ls sp sp rs"
        "ls a1 a2 rs"
        "fo fo fo fo";
    }

    header{
        z-index: 1;
    }

    header img{
        height: 80px;
    }

    header h1{
        font-size: 35px;
    }

    nav{
        grid-area: na;
        font-size: 20px;
    }

    .nav_button{
        visibility: hidden;
    }

    .nav_slider_menu{
        border: none;
        border-radius: 0px;
        top: 0px;
        right: 0px;
        height: 60px;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
    }

    .nav_slider_menu_active{
        transform: translateX(0px);
    }

    .sub_service_menu{
        border: none;
        border-radius: 0px 0px 5px 5px;
        top: -60px;
        left: 24vw;
        width: 25vw;
        height: 60px;
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
        z-index: 0;
    }

    .sub_service_menu_active{
        transform: translatey(220px);
    }

    #left_side_space{
        grid-area: ls;
        background:	rgb(155, 164, 180);
        box-shadow: inset 0px 0px 5px rgb(57, 72, 103);
    }

    #right_side_space{
        grid-area: rs;
        background:	rgb(155, 164, 180);
        box-shadow: inset 0px 0px 5px rgb(57, 72, 103);
    }

    #footer_wrapper{
        flex-direction: row;
    }

    #footer_info_section{
        height: auto;
        width: 400px;
    }


    /* Style för service_pri */

    #service_private_wrapper{
        display: grid;
        grid-template-columns: 10%  1fr 10% ;
        grid-template-rows: 100px 60px auto auto auto;
        grid-template-areas:
        "he he he"
        "na na na"
        "ls ip rs"
        "ls si rs"
        "fo fo fo";
    }

    #service_private_info a{
        position: relative;
    }

    #service_private_info article{
        margin: 65px 50px 50px 50px;
    }

    #service_main_private{
        justify-content: left;
        flex-direction: row;
        align-items: flex-start;
    }

    #private_side_info{
        height: auto;
        width: 260px;
    }

    #private_side_info img{
        height: 250px;
    }

    #private_convince_section{
        width: auto;
    }


    /* Style för service_com */

    #service_company_wrapper{
        display: grid;
        grid-template-columns: 10%  1fr 10% ;
        grid-template-rows: 100px 60px auto auto auto auto;
        grid-template-areas:
        "he he he"
        "na na na"
        "ls ip rs"
        "ls sc rs"
        "ls si rs"
        "fo fo fo";
    }

    #dir_to_pri{
        position: relative;
        bottom: -10px;
        left: 20px;
    }

    #company_side_info{
        height: auto;
        width: auto;
        flex-direction: row;
    }

    #company_side_info article{
        margin: 10px;
    }

    #company_side_info img{
        height: 250px;
    }

    #service_company_info article{
        margin: 65px 50px 50px 50px;
    }

    #service_main_company h2{
        margin-top: 0px;
    }

    #company_convince_section{
        width: auto;
        flex-flow: row;
    }


    /* Style för contact */

    #contact_page_wrapper{
        display: grid;
        grid-template-columns: 10% 1fr 1fr 10%;
        grid-template-rows: 100px 60px auto auto auto;
        grid-template-areas:
        "he he he he"
        "na na na na"
        "ls ci ci rs"
        "ls cp cc rs"
        "fo fo fo fo";
    }


    /* Style för about */

    #about_page_wrapper{
        display: grid;
        grid-template-columns: 10%  1fr 10% ;
        grid-template-rows: 100px 60px auto auto;
        grid-template-areas: 
        "he he he"
        "na na na"
        "ls as rs"
        "fo fo fo";
    }

    .about_page_img{
        height: 250px;
        width: auto;
        margin: 10px 0px 0px 5px;
        float: right;
    }

    #shaking_hands_img{
        height: 200px;
        float: none;
    }
}