
/* Allmän style */
*{
    padding: 0;
    margin: 0;
}

/* Style för index */

#main_page_wrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 300px auto auto 800px;
    grid-template-areas:
    "he"
    "sp"
    "a1"
    "a2"
    "fo";
}

#main_page_wrapper .nav_slider_menu li:nth-child(1){
    border-bottom: rgb(241, 246, 249) 4px solid;
    border-radius: 2px;
}

header{
    grid-area: he;
    background: rgb(20, 39, 78);
}

nav{
    display: flex;
    font-size: 18px;
}

.nav_button{
    border: rgb(241, 246, 249) 2px solid;
    border-radius: 5px 0px 0px 5px;
    top: 7.5px;
    right: 0px;
    height: 60px;
    width: 60px;
    background: rgb(57, 72, 103);
    position: fixed;
    z-index: 1;
}

.burger_menu{
    height: 3px;
    width: 35px;
    margin: 12px 0px 0px 12px;
    border-radius: 2px;
    background: rgb(241, 246, 249);
}

.nav_button:hover{
    cursor: pointer;
}

.nav_slider_menu{
    display: flex;
    border: rgb(241, 246, 249) 2px solid;
    border-radius: 5px 0px 0px 5px;
    top: 70px;
    right: -129px;
    height: 300px;
    width: 125px;
    background: rgb(57, 72, 103);
    position: fixed;
    transition: 0.2s;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: rgb(241, 246, 249);
    z-index: 2;
}

nav a{
    text-decoration: none;
    color: rgb(241, 246, 249);
}

nav a:visited{
    color: rgb(241, 246, 249)
}

.nav_slider_menu_active{
    transform: translateX(-125px);
}

.sub_service_menu{
    display: flex;
    border: rgb(241, 246, 249) 2px solid;
    border-radius: 5px 0px 0px 5px;
    top: 117.5px;
    right: -126px;
    height: 140px;
    width: 90px;
    background: rgb(57, 72, 103);
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.2s;
    list-style: none;
    z-index: 0;
}

.sub_service_menu li a{
    text-decoration: none;
}

.sub_service_toggle{
    cursor: pointer;
}

.sub_service_menu_active{
    transform: translateX(-250px);
}

#main_section_picture{
    grid-area: sp;
    background: lightcoral;
}

#main_section_info{
    grid-area: a1;
    background: rgb(241, 246, 249);
    display: flex;
    align-items: center;
    justify-items: center;
}

#main_article_info{
    margin: 40px;
    padding: 10px;
    border: rgb(57, 72, 103) 5px solid;
    border-radius: 5px;
    background: rgb(241, 246, 249);
}

#main_section_serv{
    grid-area: a2;
    background: rgb(241, 246, 249);
    display: flex;
    align-items: center;
    justify-items: center;
}

#main_article_serv{
    margin: 40px;
    padding: 10px;
    background: rgb(241, 246, 249);
    border: rgb(57, 72, 103) 5px solid;
    border-radius: 5px;
}

footer{
    grid-area: fo;
    background: rgb(57, 72, 103);
}

#footer_head_text{
    display: flex;
    width: 100%;
    height: 50px;
    background: rgb(20, 39, 78);
    font-size: 25px;
    color: rgb(241, 246, 249);
    align-items: center;
    justify-content: center;
}

#footer_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

#footer_wrapper h4{
    font-size: 20px;
    padding: 5px 5px 5px 0px;
}

#footer_info_section{
    height: 200px;
    width: 300px;
    padding: 40px;
    color: rgb(241, 246, 249);
}

#footer_nav{
    height: 110px;
    width: 180px;
    padding: 40px;
    color: rgb(241, 246, 249);
}

#footer_nav li{
    padding: 3px;
}

#footer_nav a{
    text-decoration: none;
    color: rgb(241, 246, 249);
}

#footer_contact{
    padding: 40px;
    color: rgb(241, 246, 249);
}


/* Style för service_pri */

#service_page_wrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 620px 1100px 800px;
    grid-template-areas:
    "he"
    "ip"
    "si"
    "fo";
}

#service_page_wrapper .nav_slider_menu li:nth-child(2){
    border-bottom: rgb(241, 246, 249) 4px solid;
    border-radius: 2px;
}

#service_page_pri .sub_service_menu li:nth-child(1){
    border-bottom: rgb(241, 246, 249) 4px solid;
    border-radius: 2px;
}

#service_private_info{
    grid-area: ip;
    background: rgb(241, 246, 249);
}

#service_private_info article{
    margin: 65px 50px 50px 50px;
    padding: 20px;
    height: auto;
    width: 1fr;
    border-radius: 5px;
    background: rgb(57, 72, 103);
    color: rgb(241, 246, 249);
}

#service_private_info a{
    color: rgb(241, 246, 249);
    position: relative;
    bottom: -10px;
    left: 10px;
}

#service_main{
    grid-area: si;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: rgb(241, 246, 249);
}

#service_main h2{
    color: rgb(57, 72, 103);
}

#service_main article{
    border: rgb(57, 72, 103) solid 5px;
    border-radius: 5px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#service_main article img{
    height: 200px;
    width: 300px;
}


/* Style för service_com */

#service_page_com .sub_service_menu li:nth-child(2){
    border-bottom: rgb(241, 246, 249) 4px solid;
    border-radius: 2px;
}

#service_company_info{
    grid-area: ip;
    background: rgb(241, 246, 249);
}

#service_company_info article{
    margin: 65px 50px 50px 50px;
    padding: 20px;
    height: auto;
    width: 1fr;
    border-radius: 5px;
    background: rgb(57, 72, 103);
    color: rgb(241, 246, 249);
}

#service_company_info a{
    color: rgb(241, 246, 249);
    position: relative;
    bottom: -10px;
    left: 10px;
}


/* Style för contact */

#contact_page_wrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 300px auto auto 800px;
    grid-template-areas:
    "he"
    "ci"
    "cp"
    "cc"
    "fo";
}

#contact_page_wrapper .nav_slider_menu li:nth-child(3){
    border-bottom: rgb(241, 246, 249) 4px solid;
    border-radius: 2px;
}

#contact_info{
    grid-area: ci;
    background: rgb(241, 246, 249);
}

#contact_info article{
    margin: 30px;
}

#private_contact_info{
    grid-area: cp;
    background: rgb(241, 246, 249);
}

#company_contact_info{
    grid-area: cc;
    background: rgb(241, 246, 249);
}

.contact_article{
    height: auto;
    margin: 40px;
    padding: 10px;
}

/* Style för about */

#about_page_wrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto 800px;
    grid-template-areas: 
    "he"
    "as"
    "fo";
}

#about_page_wrapper .nav_slider_menu li:nth-child(4){
    border-bottom: rgb(241, 246, 249) 4px solid;
    border-radius: 2px;
}

#about_section{
    grid-area: as;
    background: rgb(241, 246, 249);
}

#about_section article{
    margin: 40px;
}

#about_section h2{
    margin: 40px;
}

#about_section h4{
    margin-top: 20px;
}

/* Style för desktop-läge */

@media screen and (min-width: 820px) {


    /* Style för index */

    #main_page_wrapper{
        grid-template-columns: 10% 1fr 1fr 10%;
        grid-template-rows: 100px 60px 300px auto auto;
        grid-template-areas:
        "he he he he"
        "na na na na"
        "ls sp sp rs"
        "ls a1 a2 rs"
        "fo fo fo fo";
    }

    header{
        z-index: 1;
    }

    nav{
        grid-area: na;
        font-size: 20px;
    }

    .nav_button{
        visibility: hidden;
    }

    .nav_slider_menu{
        border: none;
        border-radius: 0px;
        top: 0px;
        right: 0px;
        height: 60px;
        width: 100vw;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
    }

    .nav_slider_menu_active{
        transform: translateX(0px);
    }

    .sub_service_menu{
        border: none;
        border-radius: 0px 0px 5px 5px;
        top: -60px;
        left: 24vw;
        width: 25vw;
        height: 60px;
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
    }

    .sub_service_menu_active{
        transform: translatey(220px);
    }

    #left_side_space{
        grid-area: ls;
        background:	rgb(155, 164, 180);
        box-shadow: inset 0px 0px 5px rgb(57, 72, 103);
    }

    #right_side_space{
        grid-area: rs;
        background:	rgb(155, 164, 180);
        box-shadow: inset 0px 0px 5px rgb(57, 72, 103);
    }

    #footer_wrapper{
        flex-direction: row;
    }

    #footer_info_section{
        height: 200px;
        width: 400px;
    }


    /* Style för service_pri */

    #service_page_wrapper{
        display: grid;
        grid-template-columns: 10%  1fr 10% ;
        grid-template-rows: 100px 60px 350px 600px 340px;
        grid-template-areas:
        "he he he"
        "na na na"
        "ls ip rs"
        "ls si rs"
        "fo fo fo";
    }

    #service_private_info a{
        position: relative;
        bottom: -10px;
        left: 20px;
    }

    #service_main article{
        height: 200px;
        width: 500px;
        flex-direction: row;
    }

    #service_main article img{
        height: 200px;
        width: 200px;
    }


    /* Style för service_com */

    #service_company_info a{
        position: relative;
        bottom: -10px;
        left: 20px;
    }


    /* Style för contact */

    #contact_page_wrapper{
        display: grid;
        grid-template-columns: 10% 1fr 1fr 10%;
        grid-template-rows: 100px 60px 300px auto 340px;
        grid-template-areas:
        "he he he he"
        "na na na na"
        "ls ci ci rs"
        "ls cp cc rs"
        "fo fo fo fo";
    }


    /* Style för about */

    #about_page_wrapper{
        display: grid;
        grid-template-columns: 10%  1fr 10% ;
        grid-template-rows: 100px 60px auto 340px;
        grid-template-areas: 
        "he he he"
        "na na na"
        "ls as rs"
        "fo fo fo";
    }
}